body {
    background-color: rgba(255, 242, 242, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    margin: 0;
}

#todo_app {
    background-color: white;
    padding: 15px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 grey;
    max-width: 80%;
}

* {
    font-family: "Playwrite GB S", cursive;
}

#todo_list {
    display: flex;
    padding: 0px;
    row-gap:10px;
    flex-direction: column;
    list-style: none;
}

#todo_list button{
    margin-left: 5px;
}